%h1 Listing dogs

%table
  %tr
    %th Avatar
    %th Headline
    %th Information
    %th
    %th
    %th

  - @dogs.each do |dog|
    %tr
      %td= dog.avatar
      %td= dog.headline
      %td= dog.information
      %td= link_to 'Show', dog
      %td= link_to 'Edit', edit_dog_path(dog)
      %td= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dog', new_dog_path
