= simple_form_for(resource) do |f|

    = f.input :title, input_html: {class: "span10"}
    = f.input :subtitle, input_html: {class: "span10"}
    = f.input :content, input_html: {class: "span10 redactor"}
    = f.input :sidebar, input_html: {class: "span10 redactor"}
    = f.input :posted
    = f.input :show_in_navigation
    = f.input :full_page_width
    = f.association :parent
    
    %div.form-actions#my-id
        = f.button :submit