= link_to "New Page", new_page_path, class: "btn" if user_signed_in?

- if params[:action] == "show"
  - if resource.parent.present?
    %h3= link_to resource.parent.title, resource.parent
    %ul{class: "nav nav-pills nav-stacked"}
      - resource.parent.children.active.each do |page|
        %li{class: (page == resource) ? "active" : ""}= link_to page.title, page

  - if resource.children.any?
    %h3= resource.title
    %ul{class: "nav nav-pills nav-stacked"}
      - resource.children.active.each do |page|
        %li= link_to page.title, page