= simple_form_for(resource) do |f|

    = f.input :title, input_html: {class: "span10"}
    = f.input :content, input_html: {class: "span10"}
    = f.input :posted
    
    %div.form-actions#my-id
        = f.button :submit