%div.post-header
  %h1= title("Shasta Dogs Blog")
  - collection.each do |post|
    %h3= link_to post.title, post
    %small= "Posted #{time_ago_in_words(post.created_at)} ago by Holly"
    %div#content
      = post.synopsis.if_blank? { post.content }.html_safe
    - if post != collection.last
      %hr