!!!
%html{:lang => "en"}
    %head
        %meta{:charset => "utf-8"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title= content_for?(:title) ? "#{yield(:title)} | Shasta Dogs" : "Shasta Dogs"
        = csrf_meta_tags
        = stylesheet_link_tag "application", :media => "all"
    %body{id: current_page?(root_path) ? "home" : "sub"}
        .container
            .content
                .row-fluid
                    .span12
                        %ul#main-nav
                            %li= link_to image_tag("ovaldog.png"), root_path
                            %li= link_to "Dog Blog", posts_path
                            %li= link_to "Services", show_page("services")
                            %li= link_to "Training", show_page("training")
                            %li= link_to "Dog Sports", show_page("dog-sports")
                            %li= link_to "Events", show_page("events")
                            %li= link_to "Places to Go", show_page("places-to-go")
                                    
                .row-fluid
                    .span12
                        %div#main
                            %div.row-fluid
                                - if current_page?(root_path)
                                    %div.span12
                                        = yield
                                - else
                                    %div.span8
                                        - flash.each do |name, msg|
                                            %div{class: "alert alert-#{flash_class(name)}"}
                                                = msg
                                        = yield
                                    %div.span4
                                        %div#sidebar
                                            = render "sidebar"
                                
            
        = javascript_include_tag "application"